@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-family-display: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.bar-grow {
  transition: width 1s ease-in-out;
}
